@model IEnumerable<BookCatalogManagementApp.Dtos.BookDto>

@{
    ViewData["Title"] = "Index";
}

<h2>Kitap Listesi</h2>

<a class="btn btn-primary mb-3" asp-action="Create">Yeni Kitap Ekle</a>

<table class="table table-bordered">

    <thead>
        <tr>
            <th>Başlık</th>
            <th>Yazar</th>
            <th>Tür</th>
            <th>Sayfa Sayısı</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.Genre</td>
                <td>@book.PageCount</td>
                <td>
                    <a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@book.Id">Detay</a>
                    <a class="btn btn-sm btn-warning" asp-action="Update" asp-route-id="@book.Id">Düzenle</a>
                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@book.Id">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>